<?xml version="1.0" encoding="UTF-8"?>

<!--
    This file is part of extra500

    The extra500 is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 2 of the License, or
    (at your option) any later version.

    The extra500 is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with extra500.  If not, see <http://www.gnu.org/licenses/>.

      Authors: Dirk Dittmann, Eric van den Berg, Thomas Grossberger 
      Date: 14.03.2014

	Last change:	Dirk Dittmann
	Date:		08.01.18
-->

<PropertyList>
	<name>extra500_Config</name>
	<modal>false</modal>
	<layout>vbox</layout>
	<group>
		<layout>hbox</layout>
		
		
		<text>
			<label>Extra 500 Configuration</label>
		</text>
		
		<empty><stretch>1</stretch></empty>
		
		<button>
			<pref-width>16</pref-width>
			<pref-height>16</pref-height>
			<legend></legend>
			<default>1</default>
			<keynum>267</keynum>
			<border>2</border>
			<binding>
				<command>dialog-apply</command>
			</binding>
			<binding>
				<command>dialog-close</command>
			</binding>
		</button>
	</group>
	<hrule/>
	<group>
		<layout>table</layout>
		<text>
			<row>0</row><col>0</col>
			<label>Messages</label>
		</text>
		<group>
			<row>0</row><col>1</col>
			<layout>hbox</layout>
			<checkbox>
				<name>msg_failure</name>
				<label>failure</label>
				<property>/extra500/config/ui/failure</property>
				<live>true</live>
				<binding>
					<command>dialog-apply</command>
					<object-name>msg_failure</object-name>
				</binding>
			</checkbox>
			<checkbox>
				<name>msg_warning</name>
				<label>warning</label>
				<property>/extra500/config/ui/warning</property>
				<live>true</live>
				<binding>
					<command>dialog-apply</command>
					<object-name>msg_warning</object-name>
				</binding>
			</checkbox>
			<checkbox>
				<name>msg_caution</name>
				<label>caution</label>
				<property>/extra500/config/ui/caution</property>
				<live>true</live>
				<binding>
					<command>dialog-apply</command>
					<object-name>msg_caution</object-name>
				</binding>
			</checkbox>
			<checkbox>
				<name>msg_info</name>
				<label>info</label>
				<property>/extra500/config/ui/info</property>
				<live>true</live>
				<binding>
					<command>dialog-apply</command>
					<object-name>msg_info</object-name>
				</binding>
			</checkbox>
			<checkbox>
				<name>trim_info</name>
				<label>trim</label>
				<property>/extra500/config/ui/trim</property>
				<live>true</live>
				<binding>
					<command>dialog-apply</command>
					<object-name>trim_info</object-name>
				</binding>
			</checkbox>
			<empty><stretch>1</stretch></empty>
		</group>
		
		<!--
		<text>
			<row>1</row><col>0</col>
			<label>Handling</label>
		</text>
		<group>
			<row>1</row><col>1</col>
			<layout>hbox</layout>
			<checkbox>
				<name>msg_realTrim</name>
				<label>real trim (force feedback)</label>
				<property>/extra500/config/handling/realTrim</property>
				<live>true</live>
				<binding>
					<command>dialog-apply</command>
					<object-name>msg_realTrim</object-name>
				</binding>
			</checkbox>
			<empty><stretch>1</stretch></empty>
		</group>
		<text>
			<row>2</row><col>0</col>
			<label>Failure</label>
		</text>
		<group>
			<row>2</row><col>1</col>
			<layout>hbox</layout>
			<checkbox>
				<name>fail_engine</name>
				<label>engine</label>
				<property>/extra500/config/failure/engine</property>
				<live>true</live>
				<binding>
					<command>dialog-apply</command>
					<object-name>fail_engine</object-name>
				</binding>
			</checkbox>
			<checkbox>
				<name>fail_hydraulic</name>
				<label>hydraulic</label>
				<property>/extra500/config/failure/hydraulic</property>
				<live>true</live>
				<binding>
					<command>dialog-apply</command>
					<object-name>fail_hydraulic</object-name>
				</binding>
			</checkbox>
			<checkbox>
				<name>fail_electric</name>
				<label>electric</label>
				<property>/extra500/config/failure/electric</property>
				<live>true</live>
				<binding>
					<command>dialog-apply</command>
					<object-name>fail_electric</object-name>
				</binding>
			</checkbox>
			<checkbox>
				<name>fail_structure</name>
				<label>structure</label>
				<property>/extra500/config/failure/structure</property>
				<live>true</live>
				<binding>
					<command>dialog-apply</command>
					<object-name>fail_structure</object-name>
				</binding>
			</checkbox>
			<checkbox>
				<name>fail_fuel</name>
				<label>fuel</label>
				<property>/extra500/config/failure/fuel</property>
				<live>true</live>
				<binding>
					<command>dialog-apply</command>
					<object-name>fail_fuel</object-name>
				</binding>
			</checkbox>
			<checkbox>
				<name>fail_avionic</name>
				<label>avionic</label>
				<property>/extra500/config/failure/avionic</property>
				<live>true</live>
				<binding>
					<command>dialog-apply</command>
					<object-name>fail_avionic</object-name>
				</binding>
			</checkbox>
			<checkbox>
				<name>fail_pressure</name>
				<label>pressure</label>
				<property>/extra500/config/failure/pressure</property>
				<live>true</live>
				<binding>
					<command>dialog-apply</command>
					<object-name>fail_pressure</object-name>
				</binding>
			</checkbox>
			<empty><stretch>1</stretch></empty>
		</group>
		<text>
			<row>3</row><col>0</col>
			<label>Event</label>
		</text>
		<group>
			<row>3</row><col>1</col>
			<layout>hbox</layout>
			<checkbox>
				<name>evt_all</name>
				<label>jsbsim</label>
				<property>/fdm/jsbsim/aircraft/events/show-events</property>
				<live>true</live>
				<binding>
					<command>dialog-apply</command>
					<object-name>evt_all</object-name>
				</binding>
			</checkbox>
			<empty><stretch>1</stretch></empty>
		</group>
		-->
		
		<text>
			<row>4</row><col>0</col>
			<label>ELT</label>
		</text>
		<group>
			<row>4</row><col>1</col>
			<layout>hbox</layout>
			<checkbox>
				<name>msg_ELT</name>
				<label>over multiplayer chat</label>
				<property>/extra500/config/ui/elt</property>
				<live>true</live>
				<binding>
					<command>dialog-apply</command>
					<object-name>msg_ELT</object-name>
				</binding>
			</checkbox>
			<empty><stretch>1</stretch></empty>
		</group>

		<text>
			<row>5</row><col>0</col>
			<label>Startup at last position</label>
		</text>
		<group>
			<row>5</row><col>1</col>
			<layout>hbox</layout>
			<checkbox>
				<name>msg_position</name>
				<label>on/off</label>
				<property>/extra500/exit/posAtLastKnownPos</property>
				<live>true</live>
				<binding>
					<command>dialog-apply</command>
					<object-name>msg_position</object-name>
				</binding>
			</checkbox>
			<empty><stretch>1</stretch></empty>
		</group>
		
		
		
	</group>
	<hrule/>
	<group>
		<layout>vbox</layout>
		<text>
			<label>IFD realism</label>
		</text>
		<group>
			<layout>table</layout>
			<text>
				<row>0</row><col>0</col>
				<label>Boot Intervall</label>
			</text>
			<text>
				<row>0</row><col>1</col>
				<width>100</width>
				
				<label>fast</label>
			</text>
			<slider>
				<row>0</row><col>2</col>
				<width>200</width>
				<property>/extra500/config/ifd/bootIntervall</property>
				<step>0.05</step>
				<pagestep>0.1</pagestep>
				<fraction>0.05</fraction>
				<min>0.05</min>
				<max>1.0</max>
				<binding>
					<command>dialog-apply</command>
				</binding>
			</slider>
			<text>
				<row>0</row><col>3</col>
				<width>100</width>
				
				<label>real</label>
			</text>
			<text>
				<row>0</row><col>4</col>
				<label>9.99 sec </label> <!-- placeholder for width -->
				<live>true</live>
				<format>%-0.2f sec</format>
				<property>/extra500/config/ifd/bootIntervall</property>
			</text>
			
			
		</group>
	</group>
	<hrule/>
	<group>
			<layout>table</layout>
			<text>
				<row>0</row><col>0</col>
				<halign>center</halign>
				<label>Quick zoom view</label>
			</text>
			<input>
				<row>1</row><col>0</col>
				<name>quickZoom_Field</name>
				<width>150</width>
				<height>25</height>
				<label>Field of View</label>
				<live>true</live>
				<property>/extra500/config/view/quickZoom/field-of-view</property>
				<binding>
					<command>dialog-apply</command>
					<object-name>quickZoom_Field</object-name>
				</binding>
			</input>
			<input>
				<row>2</row><col>0</col>
				<name>quickZoom_heading</name>
				<width>150</width>
				<height>25</height>
				<label>Heading</label>
				<live>true</live>
				<property>/extra500/config/view/quickZoom/goal-heading-offset-deg</property>
				<binding>
					<command>dialog-apply</command>
					<object-name>quickZoom_heading</object-name>
				</binding>
			</input>
			<input>
				<row>3</row><col>0</col>
				<name>quickZoom_pitch</name>
				<width>150</width>
				<height>25</height>
				<label>Pitch</label>
				<live>true</live>
				<property>/extra500/config/view/quickZoom/goal-pitch-offset-deg</property>
				<binding>
					<command>dialog-apply</command>
					<object-name>quickZoom_pitch</object-name>
				</binding>
			</input>
	</group>
        <hrule/>
	<group>
			<layout>table</layout>
			<text>
				<row>0</row><col>0</col>
				<halign>right</halign>
				<label>Dialog</label>
			</text>
                        <text>
				<row>0</row><col>1</col>
				<halign>center</halign>
				<label>Scale Factor</label>
			</text>
                        
                        <text>
				<row>1</row><col>0</col>
				<halign>right</halign>
				<label>Fuel and Payload</label>
			</text>
                        <text>
				<row>1</row><col>1</col>
				<width>100</width>
				
				<label>half</label>
			</text>
			<slider>
				<row>1</row><col>2</col>
				<width>200</width>
				<property>/extra500/config/dialog/fuelpayload/scale</property>
				<step>0.05</step>
				<pagestep>0.1</pagestep>
				<fraction>0.05</fraction>
				<min>0.5</min>
				<max>1.0</max>
				<binding>
					<command>dialog-apply</command>
				</binding>
			</slider>
                        <text>
				<row>1</row><col>3</col>
				<width>100</width>
				
				<label>full</label>
			</text>
			<text>
				<row>1</row><col>4</col>
				<label>9.99 sec </label> <!-- placeholder for width -->
				<live>true</live>
				<format>%-0.2f</format>
				<property>/extra500/config/dialog/fuelpayload/scale</property>
			</text>
                        
			<text>
				<row>2</row><col>0</col>
				<halign>right</halign>
				<label>Failure</label>
			</text>
                        <text>
				<row>2</row><col>1</col>
				<width>100</width>
				
				<label>half</label>
			</text>
			<slider>
				<row>2</row><col>2</col>
				<width>200</width>
				<property>/extra500/config/dialog/failure/scale</property>
				<step>0.05</step>
				<pagestep>0.1</pagestep>
				<fraction>0.05</fraction>
				<min>0.5</min>
				<max>1.0</max>
				<binding>
					<command>dialog-apply</command>
				</binding>
			</slider>
                        <text>
				<row>2</row><col>3</col>
				<width>100</width>
				
				<label>full</label>
			</text>
			<text>
				<row>2</row><col>4</col>
				<label>9.99 sec </label> <!-- placeholder for width -->
				<live>true</live>
				<format>%-0.2f</format>
				<property>/extra500/config/dialog/failure/scale</property>
			</text>
	</group>
	<hrule/>
	<group>
		<layout>table</layout>
		<text>
			<row>0</row><col>0</col>
			<label>Livery high resolution</label>
		</text>
		<group>
			<row>0</row><col>1</col>
			<layout>hbox</layout>
			<checkbox>
				<name>livery_res_player</name>
				<label>Player</label>
				<property>/extra500/config/livery/resolution</property>
				<live>true</live>
				<binding>
					<command>dialog-apply</command>
					<object-name>livery_res_player</object-name>
				</binding>
			</checkbox>
			<checkbox>
				<name>livery_res_multiplayer</name>
				<label>AI Multiplayer</label>
				<property>/extra500/config/livery/resolution-ai</property>
				<live>true</live>
				<binding>
					<command>dialog-apply</command>
					<object-name>livery_res_multiplayer</object-name>
				</binding>
			</checkbox>
			<empty><stretch>1</stretch></empty>
		</group>
	</group>
</PropertyList>
